.content-block {
    text-align: center;
    background: url("../../assets/thumb.jpg") 50% 0 no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.content-block-info {
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 150px;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 30%;
}

.content-block-title {
    margin: 0;
    font-size: 45px;
}

.content-block-desc {
    margin: 10px 0 0;
    font-size: 22px;
}
