.nav {
    background: #ff8c00;
    text-align: center;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    padding: 20px;
}

.nav-item:hover {
    background-color: #e9ff00;
    transition: all 0.8s;
}

.nav-item:last-child {
    border-left: 1px solid #000;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
