.form-block-title {
    text-align: center;
    font-size: 35px;
}

.form {
    padding: 20px 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-top: 20px;
}

.select {
    padding: 0 7px;
    height: 30px;
}

.title-input {
    padding: 0 7px;
    height: 30px;
}

.content-input {
    padding: 5px 7px;
    resize: none;
}

.btn {
    width: 200px;
    height: 50px;
    margin: 10px auto;
    background: #ff8c00;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
}
